{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent">
  
              <div class="title fadeIn first">
                Patrimonio+Seguro - Acesso Restrito
              </div>
          
              <!-- Login Form -->
              <form action="{{ url_for('security_camera_api_v1.login_post') }}" method="post">
                <input type="text" id="login_username" class="fadeIn second" name="username" placeholder="login">
                <input type="password" id="login_password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Entrar">
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="{{ url_for('security_camera_api_v1.password_recovery_get') }}">Esqueceu sua Senha?</a>
              </div>
          
            </div>
          </div>
    </div>
{% endblock %}