{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/passwordRecovery.css')}}">
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent">
              
              <div class="title fadeIn first">
                Patrimonio+Seguro - Redefinir senha
              </div>
          
              <!-- Submit Password Recovery Form -->
              <form action="{{ url_for('security_camera_api_v1.password_recovery_post') }}" method="post">
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email"/>
                <input type="submit" class="fadeIn third" formaction="{{ url_for('security_camera_api_v1.login_get') }}" formmethod="get" value="Voltar"/>
                <input type="submit" class="fadeIn third" value="Enviar"/>
              </form>
          
            </div>
          </div>
    </div>
{% endblock %}