.col {
  border-width: 0.1rem;
  border-style: solid;
  border-color: white;
  background-color: gray;
  text-align: center;
}

.text-bg-dark {
  background-color: RGBA(33,37,41,var(--bs-bg-opacity,1))!important
}