Flask==2.2.2
waitress==2.1.2
pyOpenSSL==22.0.0
opencv-python==4.6.0.66
Bootstrap-Flask==2.1.0
pymongo[srv]
Flask-PyMongo
flask[async]
google-api-python-client==2.62.0
google-cloud-bigquery==3.3.2
google-auth-oauthlib==0.5.3
flask-cors==3.0.10