{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/cameras.css')}}">
{% endblock %}
{% block content %}
    {{ super() }}
    <header class="bg-header-container">
        <div class="container container-header">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-link px-7 text-white">IFPE - Security Cameras</li>
                </ul>
                <div class="logout-btn">
                    <form action="{{ url_for('logout') }}">
                        <input type="submit" class="btn btn-outline-light" value="Sair" />
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container container-cameras-view">
        <div class="">
            Cameras de Seguranca do IFPE
        </div>
        <div class="card">
            <h5 class="card-header">Cameras Cadastradas</h5>
            <div class="card-body">
                {% for i in range(0, cameras_matrix|length) %}
                    <div class="row">
                        {% for j in range(0, cameras_matrix[i]|length) %}
                            <div class="col camera-view">
                                <div class="card">
                                    <img src="{{ url_for('video_feed', ip=camera_ips[j][0]) }}" >
                                    {% if camera_ips[j]|length > 1 %}
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Departamento: {{ camera_ips[j][1].department }}</li>
                                                <li class="list-group-item">Localizacao: {{ camera_ips[j][1].location }}</li>
                                                <li class="list-group-item">Ponto: {{ camera_ips[j][1].specific_location }}</li>
                                            </ul>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">Expandir</button>
                                                </div>
                                                <small class="text-muted">{{ camera_ips[j][1].mac_address}}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}