{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- Icon -->
              <div class="title fadeIn first">
                IFPE - Security Cameras - Password Recovery
              </div>
          
              <!-- Login Form -->
              <form action="{{ url_for('password_recovery_post') }}" method="post">
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
                <input type="submit" class="fadeIn fourth" value="Enviar">
              </form>
          
            </div>
          </div>
    </div>
{% endblock %}