{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/passwordRecovery.css')}}">
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent">
              
              <div class="title fadeIn first">
                Patrimonio+Seguro - Redefinicao de senha para o usuario {{username}}
              </div>
          
              <form action="{{ url_for('security_camera_api_v1.update_password_post') }}" method="post">
                <input type="hidden" id="token" name="token" value={{token}} />
                <input type="hidden" id="username" name="username" value={{username}} />
                <input type="password" id="password" class="fadeIn second" placeholder="Nova senha" name="password" />
                <input type="submit" class="fadeIn third" value="Redefinir"/>
              </form>
          
            </div>
          </div>
    </div>
{% endblock %}